body {
    margin: 0;
    padding: 0;
    transition: margin-right 0.3s ease-in-out; /* تأثير الانتقال عند فتح الكارت */
}

body.cart-open {
    margin-right: 300px; /* دفع المحتوى بمقدار عرض الكارت */
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 15px;
    z-index: 1000;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header h4 {
    margin: 0;
}

.cart-header button {
    font-size: 12px;
}

#cartItems {
    max-height: 70%;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}

.card{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.card img{
    width: 200px;
    height: 200px;
    text-align: center;
}